
.LogoPosition {
    display: inline-block;
    vertical-align:20%;
}

.icon{
    width:64px;
    height:64px;
    filter:hue-rotate(35deg) contrast(100%) saturate(1) brightness(10);
}

.timer{
    text-align: center;
    padding: 10px ;
    margin-top: 50px;
    font-size: 60px;
    color: #000000;
    font-weight: bold;
}

.contacts{
    font-size: 20px;
}

.PressableTitle{
    color: #00397a;
    margin: 0;
    font-size: 30px;
    background-color: #00000070;
    transition: 0.3s;
}

.PressableTitle:hover{
    background-color: #58585870;
}

.image{
    transition: 0.3s;
    border-width: 12px;
    border-style:solid;
    border-radius: 12px;
    border-color: #330000;
}

@media only screen and (max-width:600px){
.image{
    width: 256px;
    height: 256px;
}
}

body{
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

  /* General Styles */
body:before {
    font-family:Arial, sans-serif;
    background-color: #1c0202;
    background: url("menubackground.jpg") no-repeat center;
    background-size: 100%;
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
    /* filter:hue-rotate(35deg) contrast(100%) saturate(1) brightness(10); */
    filter:blur(12px) grayscale(1);

}

h1{
    color: #000000;
    margin: 0;
    font-size: 50px;
}

h2{
    color: #000000;
    margin: 0;
    font-size: 30px;
}

h4{
    color: #ffffff;
    margin: 0;
    font-size: 20px;
}

ul{
    color: #000000;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #691100;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

/* Navigation */
nav {
    background-color: #510000;
    display: flex;
    justify-content: center;
    border: none;
    
}

.btn-group .button{
    background-color: #510000;
    display: flex;
    justify-content: center;
    padding: 15px 32px;
    border: none;

    color: white;
    transition: 0.3s;
    text-align: center;
    font-size: 18px;

    float: left;
}

.btn-group .button:hover{
    background-color: #330000;
    border-radius: 20px;
}

@media only screen and (max-width:650px){
    .btn-group .button{
        font-size: 12px;
    }
}

form{
    background-color: #510000;
    color: white;
    padding: 20px 0;
    text-align: center;
    width:100% ;
    border-radius: 25px;
}

/* Main Content */
main {
    /* padding: 20px; */
    max-width: 100%;
    margin: auto;
}

section {
    margin-bottom: 20px;
    padding: 20px;
}

.cta {
    text-align: center;
    margin-top: 20px;
}

.cta a {
    background-color: #9c901f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
}

.cta a:hover {
    background-color: #d6cb00;
}

p{
    font-size: 24px;
}

/* Footer */
footer {
    background-color: #691100;
    color: #ffffff;
    text-align: center;
    padding-top: 10px ;
    padding-bottom: 10px;
    margin-top: 50px;  
    width: 100%;
    height: 30px;
    /* position: sticky;
    bottom: 0%; */
}

.cards{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding-top: 30px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 12px;
    border: #9c901f;
    background-color: #330000;
    border-style:solid;
    border-width: 6px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.478);
    background-color: #4b0707;
}

.container {
    padding: 2px 16px;
    
}

/* Background animation container */
.background-container {
    position: relative;
    color: white;
    overflow: hidden;
}

/* Container for both logos */
.img-container {
    position: absolute;
    top: 0;
    width: 40%; /* Adjust size of logos */
    height: 100%;
    opacity: 1; /* Initially hidden */
    visibility: hidden;
    z-index: -1;
}

/* The actual animation */
.animate-into-view-left {
    visibility: visible; /* Make visible once animated */
    animation: closeInRotateLeft 5s forwards; /* Apply the animation */
}

.animate-into-view-right {
    visibility: visible; /* Make visible once animated */
    animation: closeInRotateRight 5s forwards; /* Apply the animation */
}


@media only screen and (max-width:600px){
    .animate-into-view-right{
        visibility: hidden;
    }
}

/* Individual rotation and movement for the left logo */
@keyframes closeInRotateLeft {
    0% {
        left: -100%;
        transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        left: -5%; /* Final resting position */
        transform: rotate(0deg);
        opacity: 1;
    }
}

/* Individual rotation and movement for the right logo */
@keyframes closeInRotateRight {
    0% {
        right: -100%;
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        right: -5%; /* Final resting position */
        transform: rotate(0deg);
        opacity: 1;
    }
}