body {
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

body:before {
    background: url("menubackground.jpg") no-repeat center;
    background-size: 100%;
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -2;
    filter: blur(6px) grayscale(1);
}

h1 {
    color: #3C0008;
    margin: 0;
    font-size: 60px;
    position: relative;
    z-index: 1;
}

h2 {
    color: #3C0008;
    margin: 0;
    font-size: 36px;
}

h4 {
    color: #3C0008;
    margin: 0;
    font-size: 24px;
}

ul {
    color: #3C0008;
    font-size: 28px;
}

p {
    font-size: 28px;
    color: #3C0008;
}

nav {
    background-color: #3C0008;
    display: flex;
    justify-content: center;
    border: none;
}

.btn-group .button {
    background-color: #3C0008;
    display: flex;
    justify-content: center;
    padding: 15px 32px;
    border: none;
    color: #9d9596;
    transition: 0.3s;
    text-align: center;
    font-size: 18px;
}

.btn-group .button:hover {
    background-color: #330000;
    border-radius: 20px;
}

@media only screen and (max-width: 650px) {
    .btn-group .button {
        font-size: 14px;
    }
}

section h2, section p {
    color: #3C0008;
}

section .cta a {
    background-color: #9c901f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
}

section .cta a:hover {
    background-color: #d6cb00;
}

.image {
    transition: 0.3s;
    border-width: 12px;
    border-style: solid;
    border-radius: 12px;
    border-color: #9d9596;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .image {
        width: 256px;
        height: 256px;
    }
}

.cta {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
}

.card .container {
    color: #9d9596;
}

.cards {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    padding-top: 30px;
}

footer {
    background-color: #691100;
    color: #9d9596;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    width: 100%;
    height: 20px;
    font-size: 14px;
}
